[IGNORE ERRORS]
disable=C0116, # missing function docstrings
        C0114, # missing module docstrings
        E0401, # import error
        C0103, # snake case naming
        W0611  # unused import
        